
<% include partials/header %>

<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">welcome to mürl</h1>
    <p class="lead">
      an international street art collective directory
    </p>
    <hr class="my-4" />
    <p>
      learn more about the street masterpieces across the world
      including their location back story and artists behind the work
    </p>
    <br>
    <a class="btn btn-dark btn-lg" href="/murals" role="button">view artwork</a>
  </div>
</header>
  
<% include partials/footer %>

