/* all */
body {
  background: rgb(255, 255, 255);
  padding-top: 70px;
}

button, .btn {
  border-radius: 1px;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); */
}


/* indexMural & showMural */
.card-img-overlay {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: .10rem;
  padding-right: .25rem;
  font-size: .7rem;
}

.card, .card-img-top {
  border-radius: 0rem;
  padding: .10rem;
}

/* newMural */
.css-forms {
  margin-top: 5rem;
  width: 40%;
}




