<% include ../partials/header %>

    <div class="container">
        <form>
            <label for="title">Title</label>
            <div>
            <input
                type="text"
                name="title"
                placeholder="Girl With Balloon"
                value=""
            />
            </div>
            <label for="artist">Artist</label>
            <div>
            <input type="text" name="artist" placeholder="Banksy" value="" />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

<% include ../partials/footer %>
